#app {
  padding: 50px;
  text-align: center;
}

header {
  padding-top: 20px;
}

main {
  padding-top: 20px;
  display: flex;
  justify-content: center;
}

#left-section {
  flex-grow: 2;
  max-width: 800px;
  margin-right: 20px;
}
#right-section {
  flex-grow: 1;
  max-width: 600px;
}

#view-options {
  width: 100%;
  padding: 20px;
  background-color: #61dafb;
}
.option-label {
  margin-right: 20px;
}
.option-group + .option-group {
  margin-top: 10px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* min-height: 600px; */
}

#course-gallery {
  background-color: beige;
}
.course-card {
  margin: 10px;
  width: 15rem;
}

#cart-gallery {
  background-color: azure;
}
.cart-course-card {
  font-size: 90%;
  margin: 10px;
  width: 12rem;
}
